.nav-list{
	display: inline-block;
}
.list-box{
	display: inline-block;
	vertical-align: middle;

}
.logo{
	vertical-align: middle;
	margin-right: 49.8px;
}
.list{
	font-family: 'BPG Nino Mtavruli Bold';
	font-size:  22px;
	color: #3D58A6;
}
.select-red{
	color: #EE4036;
	font-family: 'BPG Nino Mtavruli Bold';
	font-size:  22px;
}
.divider{
	height:  26.67px;
	width: 3px;
	background: #363E97;
	display: inline-block;
	margin: 0 30px;
}
.div-box{
	width: 56px;
	height: 56px;
	background: #3D58A6;
	margin-top: 40px;
	

}
.box-date1{
	color: #FFFFFF;
	font-family: 'BPG Nino Mtavruli Bold';
	font-size: 37px;
	width: 40px;
	margin:  0 auto;
	padding-top: 13px;A
	

}
.may{
	color: #3D58A6;
	font-size: 22px;
	font-family: 'BPG Nino Mtavruli Bold';
	margin-top:  10px;

	
}
.article-title{
	color: #000000;
	font-size: 20px;
	font-family: 'BPG Nino Mtavruli Bold';
	margin-top: 17.5px;
}
.wrapper{
	display: inline-block;
	width: 930px;
	margin-left: 39px;
	text-align: justify;
	vertical-align: top;
	margin-top: 21px;
}
.article1-image{
	margin-top: 21px;
	vertical-align: top;

}
.containter1{
	width: 1239px;
	margin-left: 30px;
	margin-top: 30px;
}
.margin-news{
	margin-left: 22px;
	margin-right: 39px;
}
.footer{
	margin-top: 68px;
}